asgiref==3.2.10
astroid==2.11.7
async-timeout==4.0.2
attrs==22.1.0
Automat==20.2.0
aws-secretsmanager-caching==1.1.1.5
boto3==1.24.80
botocore==1.27.80
colorama==0.4.5
constantly==15.1.0
Deprecated==1.2.13
dill==0.3.5.1
Django==3.1
django-cacheops==6.1
django-redis-sessions==0.6.2
django-session-timeout==0.1.0
funcy==1.17
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
isort==5.10.1
jmespath==1.0.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
mysqlclient==2.1.1
packaging==21.3
platformdirs==2.5.2
pylint==2.14.5
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
redis==4.3.4
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
tomlkit==0.11.3
Twisted==22.4.0
typing_extensions==4.3.0
urllib3==1.26.12
wrapt==1.14.1
zope.interface==5.4.0
