{% extends "KGflex_bas.html" %}
{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                <div class="hero__items set-bg" data-setbg="/static/img/hero/hero-5.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">해외 영화</div>
                                <h2>미니언즈</h2>
                                <p>MCU(미니언즈 시네마틱 유니버스)가 돌아온다!</p>
                                <a href="/KGflex/UMovie/3/"><span>시청하기</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="/static/img/hero/hero-2.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">국내 드라마</div>
                                <h2>이상한 변호사 우영우</h2>
                                <p>천재적인 두뇌와 자폐스펙트럼을 동시에 가진 신입 변호사</p>
                                <a href="/KGflex/KDrama/4/"><span>시청하기</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="/static/img/hero/hero-3.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">국내 영화</div>
                                <h2>범죄도시2</h2>
                                <p>나쁜 놈들 잡는 데 국경 없다!</p>
                                <a href="/KGflex/KMovie/5/"><span>시청하기</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero__items set-bg" data-setbg="/static/img/hero/hero-6.jpg">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">해외 영화</div>
                                <h2>탑건: 매버릭</h2>
                                <p>한순간의 실수도 용납되지 않는 하늘 위, 가장 압도적인 비행이 시작된다!</p>
                                <a href="/KGflex/UMovie/4/"><span>시청하기</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>국내 드라마</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/KGflex/KDrama" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/trending/bigmouth.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>스릴러</li>
                                            <li>드라마</li>
                                        </ul>
                                        <h5><a href="/KGflex/KDrama/1/">빅마우스</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/trending/againmylife.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>액션</li>
                                            <li>드라마</li>
                                        </ul>
                                        <h5><a href="/KGflex/KDrama/2/">어게인 마이 라이프</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/trending/TodayWebtoon.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>코미디</li>
                                            <li>드라마</li>
                                        </ul>
                                        <h5><a href="/KGflex/KDrama/3/">오늘의 웹툰</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/trending/Woo.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>코미디</li>
                                            <li>드라마</li>
                                        </ul>
                                        <h5><a href="/KGflex/KDrama/4/">이상한 변호사 우영우</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/trending/yous.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>사극</li>
                                            <li>코미디</li>
                                            <li>드라마</li>
                                        </ul>
                                        <h5><a href="/KGflex/KDrama/5/">조선 정신과 의사 유세풍</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/trending/souls.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>판타지</li>
                                            <li>무협</li>
                                            <li>드라마</li>
                                        </ul>
                                        <h5><a href="/KGflex/KDrama/6/">환혼</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="live__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>예능 프로그램</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/KGflex/entertainment" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/live/hohohohohoho.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>예능</li>
                                            <li>공포</li>
                                        </ul>
                                        <h5><a href="/KGflex/entertainment/1/">심야괴담회</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/live/homeboss.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>예능</li>
                                        </ul>
                                        <h5><a href="/KGflex/entertainment/2/">집사부일체</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/live/hongkimcoin.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>예능</li>
                                        </ul>
                                        <h5><a href="/KGflex/entertainment/3/">홍김동전</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/live/MyLittleOldBoy.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>예능</li>
                                        </ul>
                                        <h5><a href="/KGflex/entertainment/4/">미운우리새끼</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/live/packday.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>예능</li>
                                        </ul>
                                        <h5><a href="/KGflex/entertainment/5/">1박2일</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/live/runningman.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>예능</li>
                                        </ul>
                                        <h5><a href="/KGflex/entertainment/6/">런닝맨</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>국내 영화</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/KGflex/KMovie" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/popular/extremejob.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>코미디</li>
                                            <li>액션</li>
                                            <li>범죄</li>
                                        </ul>
                                        <h5><a href="/KGflex/KMovie/1/">극한직업</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/popular/Hansan.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>사극</li>
                                            <li>액션</li>
                                        </ul>
                                        <h5><a href="/KGflex/KMovie/2/">한산: 용의 출현</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/popular/TheWitchPart2.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>스릴러</li>
                                            <li>액션</li>
                                            <li>SF</li>
                                        </ul>
                                        <h5><a href="/KGflex/KMovie/3/">마녀 Part2. The Other One</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/popular/EMERGENCYDECLARATION.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>재난</li>
                                            <li>스릴러</li>
                                        </ul>
                                        <h5><a href="/KGflex/KMovie/4/">비상선언</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/popular/TheRoundup.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>액션</li>
                                            <li>범죄</li>
                                            <li>코미디</li>
                                        </ul>
                                        <h5><a href="/KGflex/KMovie/5/">범죄도시2</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/popular/hunt.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>액션</li>
                                            <li>스릴러</li>
                                            <li>느와르</li>
                                        </ul>
                                        <h5><a href="/KGflex/KMovie/6/">헌트</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>해외 영화</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="/KGflex/UMovie" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/recent/MugenTrainArc.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>액션</li>
                                            <li>판타지</li>
                                            <li>모험</li>
                                        </ul>
                                        <h5><a href="/KGflex/UMovie/6/">귀멸의 칼날: 무한열차편</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/recent/Mytomorrowyouryesterday.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>로맨스</li>
                                            <li>멜로</li>
                                        </ul>
                                        <h5><a href="/KGflex/UMovie/5/">나는 내일, 어제의 너와 만난다</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/recent/ItItItIt.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>호러</li>
                                            <li>스릴러</li>
                                        </ul>
                                        <h5><a href="/KGflex/UMovie/2/">그것</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/recent/DoctorStrangeintheMultiverseofMadness.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>액션</li>
                                            <li>SF</li>
                                            <li>호러</li>
                                        </ul>
                                        <h5><a href="/KGflex/UMovie/1/">닥터 스트레인지: 대혼돈의 멀티버스</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/recent/topgun1212.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>액션</li>
                                        </ul>
                                        <h5><a href="/KGflex/UMovie/4/">탑건: 매버릭</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="/static/img/recent/MinionsTheRiseofGru.jpg">
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>모험</li>
                                            <li>코미디</li>
                                        </ul>
                                        <h5><a href="/KGflex/UMovie/3/">미니언즈2</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "KGflex_Week.html" %}
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>
<!-- Product Section End -->

{% endblock %}
