{% extends "KGflex_bas.html" %}
{% block content %}
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb__links">
                  <a href="/KGflex/index"><i class="fa fa-home"></i> 홈</a>
                  <span>자유 게시판</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb End -->
<section class="board_form-block">
<div class="container mt-3">

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card">
      <div class="card-header input-group">
        <span class="input-group-text">제목 입력</span>
        {{ form.title }}
      </div>
      
      <div class="card-body">
        {{ form.content }}
      </div>
      <button type="submit" class="btn btn-outline-dark">게시글 등록</button>
    </div>
  </form>

</div>
</section>
<div class="breadcrumb-option">
      
</div>
<div class="breadcrumb-option">
    
</div>
<div class="breadcrumb-option">
    
</div>

{% endblock %}










