
<div class="col-lg-4 col-md-6 col-sm-8">
    <div class="product__sidebar">
        <div class="product__sidebar__view">
            <div class="section-title">
                <h5>인기 영상</h5>
            </div>
            <ul class="filter__controls">
                <li class="active" data-filter="*">Day</li>
                <li data-filter=".week">Week</li>
                <li data-filter=".month">Month</li>
                <li data-filter=".years">Years</li>
            </ul>
            <div class="filter__gallery">
                <div class="product__sidebar__view__item set-bg mix week day"
                data-setbg="/static/img/trending/Woo.jpg">
                <h5><a href="/KGflex/KDrama/4/">이상한 변호사 우영우</a></h5>
            </div>
            <div class="product__sidebar__view__item set-bg mix month week years"
            data-setbg="/static/img/live/runningman.jpg">
            <h5><a href="/KGflex/entertainment/6/">런닝맨</a></h5>
        </div>
        <div class="product__sidebar__view__item set-bg mix  month years"
        data-setbg="/static/img/live/MyLittleOldBoy.jpg">
        <h5><a href="/KGflex/entertainment/4/">미운우리새끼</a></h5>
    </div>
    <div class="product__sidebar__view__item set-bg mix week"
    data-setbg="/static/img/trending/TodayWebtoon.jpg">
    <h5><a href="/KGflex/KDrama/3/">오늘의 웹툰</a></h5>
</div>
