<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="/"><i class="fa fa-home"></i> 홈</a>
                    <a href="#">카테고리</a>
                    <a href="/KGflex/KDrama">{{ object.name }}</a>
                    <span>{{ object.title }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Anime Section Begin -->
<section class="hero spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="anime__video__player">
                    <video id="player" playsinline controls data-poster="{{ object.photo.url }}">
                        <source src="{{object.file_upload.url }}" type="video/mp4" />
                        <!-- Captions are optional -->
                        <track kind="captions" label="English captions" src="#" srclang="en" default />
                    </video>
                </div>
                <div class="anime__details__episodes">
                    <div class="section-title">
                        <h5>{{ object.title }}</h5>

                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- Anime Section End -->